<footer class="page-footer light-blue">
    <div class="container">
        <div class="row">
            <div class="col l12 s12">
                <h5 class="white-text">Mémoire 2016 - 2017</h5>
                <p class="grey-text text-lighten-4">
                    Retrouver ce projet sur <a href="https://github.com/MISTERSOFT/angularjs-products-app" class="blue-text text-lighten-4">Github</a>
                </p>
            </div>
            <!--<div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                </ul>
            </div>-->
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            HAMADI Sofiane
        </div>
    </div>
</footer>