<header>
    <nav class="light-blue darken-4">
        <div class="nav-wrapper">
            <div class="row">
                <div class="col s12">
                    <a href="/" class="brand-logo">Logo</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li ng-class="{ active : vm.isHome() }"><a  href="#!/">Accueil</a></li>
                        <li ng-class="{ active : vm.isProducts() }"><a  href="#!/products">Les products</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>