body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.preloader-wrapper {
    position: fixed;
    top: calc(50% - (64px + 100px));
    left: calc(50% - 64px);
}