<loader can-show="vm.canShowLoader"></loader>

<div class="row">
    <div class="col s12">
        <h1>Our Products</h1>
    </div>
</div>

<div class="fixed-button-bottom-right">
    <a class="btn-floating btn-large waves-effect waves-light green" href="#!/products/add">
        <i class="material-icons">add</i>
    </a>
</div>

<div class="row" ng-if="!vm.canShowLoader">
    <div class="col s12">
        <div class="row">
            <div class="col s4" ng-repeat="product in vm.products">
                <div class="card small hoverable">
                    <div class="card-image">
                        <img ng-src="{{ product.thumb }}">
                        <span class="card-title black-text">{{ product.price | euro }}</span>
                    </div>
                    <div class="card-content">
                        <p>{{ product.title }}</p>
                    </div>
                    <div class="card-action center-align">
                        <a class="btn blue" href="#!/{{ vm.formatUrl(product._id) }}">Edit</a>
                        <button class="btn red"
                            modalbox
                            modal-id="vm.modal.id"
                            modal-title="vm.modal.title"
                            modal-content="vm.modal.content"
                            modal-buttons-config="vm.modal.btnsConfig"
                            product-id="product._id">
                            Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<modalbox modal-id="vm.modal.id" modal-title="vm.modal.title" modal-content="vm.modal.content" modal-buttons-config="vm.modal.btnsConfig"></modalbox>-->